apiVersion: apps/v1
kind: Deployment
metadata:
  name: ts-rpc-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ts-rpc-server
  template:
    metadata:
      labels:
        app: ts-rpc-server
    spec:
      containers:
        - name: ts-rpc-server
          image: ts-rpc-server
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
