apiVersion: apps/v1
kind: Deployment
metadata:
  name: ts-rpc-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ts-rpc-client
  template:
    metadata:
      labels:
        app: ts-rpc-client
    spec:
      containers:
        - name: ts-rpc-client
          image: anderswestberg/ts-rpc-client
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
